@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Staatliches', cursive;
    
}

.tamanho-container{
    max-width: 1024px;
    margin: 0 auto;
}

#logo-fla img{
    width: 90px;
    height: 90px;
}
.flex-container{
   position: fixed;
   width: 100%;
   background-image: linear-gradient(to right , black , rgb(250, 1, 1));
   z-index: 2;  
}
.tamanho-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* padding: 0 10px; */
} 
.link-topo a{
    text-decoration: none;
    color: #ffffff;
    padding: 20px;
    font-size: 25px;  
}
@media (max-width: 425px) {
    .tamanho-container{flex-direction: row;}
    .topo-logo{margin: 10px 0;}
    .link-topo{ width: 100% auto; /* border-top: 1px solid #f0f0f0 */;display: flex;justify-content:space-between;}
    .link-topo a{padding: 10px;}  
}
.audio{
   width: 200px;
   height: 30px;
   border-radius: 15px;
   position: relative;
   z-index: 1;
}
.principal{
    /* padding-top: 105px; */
    /* max-width: 1024px; */
    margin: 0px auto;

}
.item-querido{
     background-image: url("image/camisa.jpg" ); 
     background-size: cover; 
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
}
.item-querido h1{
    text-shadow: 1px 1px 2px black;
    font-size: 40px;
}
 /* h1{
    color: rgb(5, 5, 5);
 }   */
 #querido h1{
     color: white;
 }
.item-historia {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
   /*  margin-top: 30px; */
   padding-top: 120px;
    /* height: 100%; */
}
.header-item{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #fff;
}
#historia{
    text-align: center;   
}
.img-historia{
   /*  height: 100%; */
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content:center; 
}
.img-historia img{
   /*  box-shadow: 2px 5px 5px rgb(134, 131, 131); */
    margin: 20px;
    width: 300px;
    height: 200px;

}
audio{
    height: 20px;
}
.hino-part-one , .hino-part-two{
    color: #fff;
    text-align: center;
    line-height: 25px;
    font-size: 20px;
}
#hino{
    text-align: center;
}
.item-hino{
    padding-top: 120px;
    background-color: #0f0c0b;
}
.hino-container{
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}
.item-titulos{
   background-color: #0f0c0b;
   padding-top: 120px;
}
#titulos{
    
    text-align: center;
}
.img-titulos{
    background-color: #0f0c0b;
    padding-top: 100px;
   /*  width: 100vw; */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
}
.img-titulos p{
    padding-bottom: 100px;
}
.img-titulos img{
    box-shadow: 2px 5px 15px rgb(12, 12, 12);
    width: 300px;
    height: 200px; 
}
.img-titulos figure{
    margin: 20px;
}
.background{
    background-color: #0f0c0b;
}
.flex-footer{
    height: 50px;
    display: flex;
    background-color: rgb(5, 5, 5);
    justify-content: center;
    align-items: center;
    
}
.flex-footer div{
    color: white;
}
figcaption{
    color: white;
}





