@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Staatliches', cursive;
    
}

.tamanho-container{
   display: flex;
   justify-content: space-evenly; 
   align-items: center;
}

#logo-fla img{
    width: 90px;
    height: 90px;
}
.flex-container{
   position: fixed;
   width: 100%;
   background-image: linear-gradient(to right , black , rgb(250, 1, 1));
   z-index: 2;  
}
.tamanho-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
} 
.link-topo a{
    text-decoration: none;
    color: #ffffff;
    padding: 20px;
    font-size: 25px;  
}
.audio{
   width: 200px;
   height: 30px;
   border-radius: 15px;
   position: relative;
   z-index: 1;
}
.principal{
    margin: 0px auto;
    background-color: #0f0c0b;
}
.item-querido{
     background-image: url("image/camisa.jpg" ); 
     background-size: cover; 
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
}
.item-querido h1{
    text-shadow: 1px 1px 2px black;
    font-size: 40px;
}
.item_titulo{
    font-size: 25px;
     color: #ffffff;
 }
.item-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
}
.item_titulo_principal{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #fff;
}
.item_coment_titulo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding: auto 200px;
}
.item_subtitulo{
 text-align: justify;
 margin-left: 10px;
 margin-right: 10px;
}
#historia{
    text-align: center;   
}
.img-historia{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content:center;
    padding-top: 40px; 
    width: 100%;
    /* border: 1px solid white;
    border-radius: 20px; */
}
.img-historia .item_img{
    margin: 10px;
    width: 300px;
    height: 200px;
}
.hino-part{
    color: #fff;
    text-align: center;
    line-height: 25px;
}
#hino{
    text-align: center;
}
.item-hino{
    padding-top: 120px;
    background-color: #0f0c0b;
}
.hino-container{
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}
.item-titulos{
   background-color: #0f0c0b;
   padding-top: 120px;
}
#titulos{
    text-align: center;
}
.img-titulos{
    background-color: #0f0c0b;
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
}
.img-titulos p{
    padding-bottom: 100px;
}
.img-titulos .item_img{
    width: 300px;
    height: 200px; 
}
.img-titulos figure{
    margin: 20px;
}
.flex-footer{
    height: 50px;
    display: flex;
    background-color: rgb(5, 5, 5);
    justify-content: center;
    align-items: center;
    
}
.flex-footer div{
    color: white;
}
figcaption{
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
    color: #fff;
}






