@media (max-width: 430px) {
    .topo-logo {
        margin: 10px 0;
    }
    .link-topo {
        width: 100% auto;
        display: flex;
        justify-content: space-between;
    }
    .link-topo a {
        padding: 10px;
    }
    .hino-container {
        flex-direction: column;
    }
    .second {
        margin-bottom: 30px;
    }
    .principal{
        margin: 0px auto;
    background-color: #0f0c0b; 
    }
    .tamanho-container{
        flex-direction: column;
        justify-content: space-around;
    }
    .item-container {
        padding-top: 170px;
    }
    .item-hino{
        padding-top: 170px;
    }
    .item-titulos{
        padding-top: 170px;
    }
}

